.navbar {
    background-color: lightblue;
}

.navbar-brand {
    display: inline-block;
    vertical-align: middle;
}

.navbar-item {
    display: inline-block;
    font-size: 3em;
    margin-right: 100px;
    vertical-align: middle;
}

img {
    height: 200px;
    width: 200px;
}